<div id="wrap_login"><!-- 전체 -->
<!--[if lt IE 8]> 
<div class="ie6">
	<p>현재 사용하고 계신 브라우저에서는 일부 화면이 깨져보이거나 기능이 제대로 동작하지 않을 수 있습니다.<br />보다 안전하고 빠른 브라우저를 권장해드립니다.</p>
	<a href="http://windows.microsoft.com/ko-kr/internet-explorer/ie-8-worldwide-languages" target="_blank">Internet Explorer 버전 업그레이드 하기</a>
	<a href="http://browsehappy.com/" target="_blank">다른 브라우저 보기</a>
</div>
<hr>
<![endif]-->
<div class="loginbox">
    <h1 class="login_logo"><img src="/tmsg/assets/img/logo.png" alt="CHAT"></h1>
    <form [formGroup]="myForm" (ngSubmit)="onSubmitTemplateBased()">
    <h2>채팅상담 관리자 로그인</h2>
    <ul class="form-group">
        <li>
            <label>
                <input formControlName="loginid" class="input_txt_login" placeholder="로그인 아이디를 입력하세요!" required/>
            </label>
        </li>
        <li>
            <label>
                <input type="password" formControlName="password" class="input_txt_login" placeholder="패스워드를 입력하세요!" required/>
            </label>
        </li>
        <li><!--[disabled]="!myForm.vaild" -->
            <button type="submit" class="btn btn_login">로그인</button>
        </li>
        <li>
            <div class="chkform">
                <input type="checkbox" class="input_chk_login" formControlName="issaveid" id="saveID">
                <label for="saveID">아이디 저장</label>
            </div>
            <div class="chkform">
                <input type="checkbox" class="input_chk_login" formControlName="isautologin" id="autoLogin">
                <label for="autoLogin">로그인 상태 유지</label>
            </div>
        </li>
    </ul>
    </form>
    <button (click)="gotoMain()">View Main</button>
</div>

</div><!-- //wrap -->
<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/js/common.js"></script>